<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>First Learning</title>
    <!-- Import da Ferramenta VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        .userperfil {
            background-color: #dedede;
            padding: 10px;
        }
        .userperfil .campo {
            background-color: #a1a1a1;
            padding: 5px;
        }
    </style>
</head>
<body>

<!--
    DIRETIVAS - VUEJS
    São códigos/termos atribuidos há uma tag/div que produzem uma ação neste elemento.
-->

<div id="content">
   <h1>{{titulo}}</h1>

   <p>Laço com index próprio do objeto</p>
   <ul>
       <!-- Laço sem index -->
       <li v-for="item in linguagens">{{item.id}} - {{item.nome}}</li>
   </ul>

   <p>Laço com index automático</p>
   <ul>
       <!-- Laço sem index -->
       <li v-for="(itens,index) in linguagens">{{index}} - {{itens.nome}}</li>
   </ul>
</div>

     <script>
        /* Instanciando o VueJS dentro da variável 'app' */
        var app = new Vue({
            /* Definindo a div #content como elemento de trabalho */
            el: "#content",

            /* Dados disponíveis */
            data: {
                titulo: "Bem-vindo a Aula Três",
                linguagens: [
                    { id: 1, nome: "JavaScript"},
                    { id: 2, nome: "PHP"},
                    { id: 3, nome: "C#"},
                    { id: 4, nome: "Python"}
                ]
            }
        });
    </script>
</body>
</html>